{% extends 'base.html.twig' %}

{% block title %}Hello Page !{% endblock %}
{% block body %}
    {% include 'layout/navbar.html.twig'%}

    <main role="main" class="container">

        <div class="starter-template" style="margin-top:100px; text-align:center">
            <h1>H O M E P A G E</h1>
        </div>

    </main>{% endblock %}
