{% extends 'base.html.twig' %}

{% block title %}Start Timer{% endblock %}

{% block head %} {% endblock %}

{% block body %}
    {% include 'layout/navbar.html.twig'%}

    <main role="main" class="container">

        <h1 style="text-align: center; margin-top: 20px;">Démarrer le Timer</h1>
        <div class="timer"><time>00:00:00</time></div>
        <a href="{{ path('timer_stop') }}" class="btn btn-danger">Stop</a>
    </main>
    <script>
        var timerDiv = document.getElementsByClassName('timer')[0],
            seconds = 0, minutes = 0, hours = 0,
            t;

        function add() {
            seconds++;
            if (seconds >= 60) {
                seconds = 0;
                minutes++;
                if (minutes >= 60) {
                    minutes = 0;
                    hours++;
                }
            }

            timerDiv.textContent = (hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);

            timer();
        }
        function timer() {
            t = setTimeout(add, 1000);
        }
        timer();
    </script>
{% endblock %}
