{% extends 'base.html.twig' %}

{% block title %}User list{% endblock %}
{% block head %} {% endblock %}
{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .example-wrapper ul {text-decoration: none;}
        .example-wrapper a {text-decoration: none;}
        .example-wrapper ul li {padding: 10px; margin: 10px; text-decoration: none;}
        .example-wrapper ul li a{padding: 10px; margin: 3px; text-decoration: none; display: inline;}
        .example-wrapper a {text-decoration: none;}
    </style>
    {% include 'layout/navbar.html.twig'%}

    <div class="container">
        <div Class="row justify-content-center">
    <h1 style="margin-top: 20px;">Liste des utilisateurs</h1>
            <table class="table table-bordered" style="margin-top: 10px; text-align: center;">
                <thead class="thead-dark">
                <tr>
                    <th> Prénom </th>
                    <th> Nom </th>
                    <th> Email </th>
                </tr>
                </thead>
            {# légèrement différent de php avec foreach userList as user #}
            {% for user in user_list %}
                <tr>
                <td>{{ user.firstName }} </td>
                <td>{{  user.lastName|upper }}</td>
                <td>{{ user.email }}</td>
                </tr>
            {% endfor %}
            </table>
    </div>
    </div>
{% endblock %}