{% extends 'base.html.twig' %}

{% block title %}Create User{% endblock %}

{% block head %} {% endblock %}

{% block body %}
    <main role="main" class="container">

        <div class="starter-template" style="margin-top:100px; text-align:center">
            <h1>I N S C R I P T I O N</h1>
        </div>
        {{ form(form) }}

    </main>
{% endblock %}